body {
  height: 100vh;
  margin: 0;
}

.rs-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.rs-row {
  display: flex;
  flex-flow: row nowrap;
}

.button-container {
  position: absolute;
  top: 1rem;
}

.spring {
  background: rgb(242, 177, 108);
}

.trail {
  background: rgb(208, 251, 197);
}
